/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "./styles/theme-overrides.scss";
html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex; //flexbox
  flex-direction: column; //order the components in a column
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap; //if too many items in a row on screen, items go to next row
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem; //gap between items
}

.gap-2 {
  gap: 2rem;
}

.space-bewteen {
  justify-content: space-between; //auto space between elements
}

.align-center {
  align-items: center; //centers item depending on flex-direction
}

.justify-center {
  justify-content: center; //centers item depending on flex-direction
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none; //hides an element
}
